
/* Layout */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-content {
    padding: 60px 0;
}

/* Cabeçalho */
.page-header {
    text-align: left;
    margin-bottom: 50px;
}

.faq-section-title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;   
    color: black;
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 5rem;
}

.div-line {
    width: 6rem;              
    height: 0.25rem;         
    background-color: #F5B700;
    margin-left: auto;       
    margin-right: auto;
    margin-bottom: 1.5rem;   
}

.faq-section-subtitle {
    color: black;
    font-size: 18px;
    max-width: auto;
    margin-bottom: 10px;
}

/* Accordion */
.faq-accordion {
    max-width: 850px;
    margin: 0 auto;
}

.faq-item {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: #ffffff;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.faq-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.faq-trigger {
    width: 100%;
    padding: 22px 25px;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 500;
    color: #333;
    text-align: left;
}

.arrow {
    width: 10px;
    height: 10px;
    border-right: 2.5px solid #f6c21e;
    border-bottom: 2.5px solid #f6c21e;
    transform: rotate(45deg);
    transition: transform 0.4s ease;
}

.faq-item.active .arrow {
    transform: rotate(-135deg);
}

/* Conteúdo */
.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.faq-item.active .faq-content {
    max-height: 500px; /* Suficiente para textos longos */
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
}

.faq-text {
    padding: 0 25px 25px 25px;
    color: rgb(72, 72, 72);
    line-height: 1.7;
    font-size: 0.95rem;
}

/* Banner */
.banner-yellow-card {
    background-color: #f6c21e;
    border-radius: 20px;
    padding: 45px 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner-yellow-card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #212121;
}

.banner-yellow-card p {
    max-width: 600px;
    margin: 0 auto 25px;
    color: #212121;
}

.btn-dark {
    background-color: #212121;
    color: #ffffff;
    border: none;
    padding: 12px 35px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-dark:hover {
    background-color: #444;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}